{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-9 p-5">
    <div class="card">
        <div class="card-header">
          <h1>Привет, я автор</h1>
        </div> 
            <div class="card-body">
          Тут я размещу информацию о себе, используя свои умения верстать.
          Картинки, блоки, элементы бустрап.
          <p>
           А может быть, просто напишу несколько абзацев текста. 
        </div> 
    </div> 
    {{ text }}
  </div> 
</div> 
{% endblock %}
