{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
{% load thumbnail %}
  <div class="container py-5">
    <h1>Все посты авторов</h1>
    {% include 'posts/includes/switcher.html' %}
    {% for post in page_obj %}
    <div class="card">
      <div class="card-header">  
        <ul>
          <li>
          Автор: 
          <a href="{% url 'posts:profile' post.author %}">
            {{ post.author.get_full_name }}</a>
          </li>
          <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
      </div>  
      <div class="card-body">
        <div class="form-group row my-3 p-3">
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}  
        {{ post.text }}  
        </div>
        <p> 
        {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">Все записи группы</a>        
        {% endif %}  
      </div>
    </div>  
    <p>
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
{% endblock %}